<link rel="stylesheet" href="/stylesheets/signup_sheet.css">
<script>function submitEdit(){window.location='/builders/<%=@builder.id%>/edit';}</script>
<script>function editBuilder() {document.getElementById("edit").style.display = "block";}</script>
<script>function deleteBuilder() {document.location'/builders/<%=@builder.id%>/delete'}</script>
<style>
#panel, .flip {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
  border: solid 1px #a6d8a8;
  margin: auto;
}

 #edit{
  display: none;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 75%;
  margin-left: 10%;
  margin-bottom: center;
}

th, td {
  text-align: left;
  padding: 5px;
  
}

tr:nth-child(even){background-color: #1f2833
}

th {
  background-color: #4CAF50;
  color: white;
}
</style>
<table>
  <%@builder.attributes.except("id", "password_digest", "created_at", "updated_at").each do |key, value|%>
    <tr>
      <td><%="#{key}"%></td>
      <td><%="#{value}"%></td>
    </tr>
  <%end%>
</table>
<form id="edit" type="hidden" action="/builders/<%=@builder.id%>" method="post">
<br>
<% @builder.attributes.except("id", "password_digest", "created_at", "updated_at").each do |key, value|%>
<input id="hidden" type="hidden" name="_method" value="patch">
<br>
<label for="<%=key%>"><%=key%></label><input id="<%=key%>" type="text" name="<%=key%>" value="<%=value%>">
<%end%>
<input id="hidden" type="hidden" name="_method" value="patch">
<br>
<input id="submit" type="submit" value="Save">
</form>
<button onclick="editBuilder()">edit</button>

<form type="hidden" action="/builders/<%= @builder.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button id="delete" type="submit" name="submit" value="delete">delete</button>
 </form>
