<link rel="stylesheet" href="/stylesheets/signup_sheet.css">
<script>function submitEdit(){window.location='/bots/<%=@bot.id%>';}</script>
<script>function deleteBuilder() {document.location'/builders/<%=@bot.id%>/delete'}</script>

<form id="edit_bot" type="hidden" action="/bots/<%=@bot.id%>" method="post">
<br>
<% @bot.attributes.except("id", "created_at", "updated_at", "builder_id").each do |key, value|%>
<input id="hidden" type="hidden" name="_method" value="patch">
<br>
<input id="<%=key%>" type="text" name="<%=key%>" value="<%=value%>">
<%end%>
<input id="hidden" type="hidden" name="_method" value="patch">
<br>
<input id="submit" type="submit" value="Save">
</form>

<form type="hidden" action="/bots/<%= @bot.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button id="delete" type="submit" name="submit" value="delete">delete</button>
 </form>