<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <link rel="icon" href="https://vignette.wikia.nocookie.net/ratchet/images/3/33/Gadge-Bot_promo_render.png/revision/latest?cb=20180807155921" type="image/gif">
    <title>Gorobo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="header">
      <h1>Go<span>Robo</span></h>
    </div>
    <%if logged_in?%>
    <div class="topnav">
    <%@builder = current_builder%>
      <script>function visithome(){window.location='/builders/<%=@builder.id%>';}</script>
      <button class="button" onclick="visithome();">Lu-bore-a-tory</button>
      <script>function visitedit(){window.location='/builders/<%=@builder.id%>/edit';}</script>
      <button class="button" onclick="visitedit();">edit Builder</button>
      <script>function visitPage(){window.location='/logout';}</script>
      <button class="button" onclick="visitPage();">logout</button>
    </div>
   <%end%>
    <div class="wrapper">
       <% if flash[:message] %>
        <div class="flash_message" style="color:red;">
          <% flash.each do |m,err| %>
            <%= "#{err}"%>
            <%end%>
        </div>
      <% end %>
       <% if flash[:success] %>
        <div class="flash_message" style="color:white;">
          <% flash.each do |m, suc| %>
            <%= "#{suc}"%>
            <%end%>
        </div>
      <% end %>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>Gorobo</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
